<h1>AdicionarItem</h1>
<form id="form">
    <table>
        <tr>
            <td>
                Tipo:
            </td>
            <td>
                <select id="type">
                    <option>CD</option>
                    <option>DVD</option>
                    <option>Livro</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Nome</td>
            <td><input type="text" id="name" /></td>
        </tr>
        <tr>
            <td>Disponível</td>
            <td><input type="radio" id="state" value="Disponível" /> Sim</td>
            <td><input type="radio" id="state" value="Emprestado" /> Não</td>
        </tr>
        <tr>
            <td>Ano</td>
            <td><input type="text" id="year" /></td>
        </tr>
        <tr>
            <td>Genero</td>
            <td><input type="text" id="genres" /></td>
        </tr>
        <tr>
            <td>Descrição</td>
            <td><textarea id="description"></textarea></td>
        </tr>
        <tr>
            <td><input type="submit" value="Salvar" /></td>
        </tr>
    </table>
    
</form>