<h1>EditarItem</h1>
<form id="form">
    <table>
        <tr>
            <td>
                Tipo:
            </td>
            <td>
                <select id="type-edit">
                    <option>CD</option>
                    <option>DVD</option>
                    <option>Livro</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Nome</td>
            <td><input type="text" id="name-edit" /></td>
        </tr>
        <tr>
            <td>Disponível</td>
            <td><input type="radio" id="state-disponivel" value="Disponivel" /> Sim</td>
            <td><input type="radio" id="state-emprestado" value="Emprestado" /> Não</td>
        </tr>
        <tr>
            <td>Ano</td>
            <td><input type="text" id="year-edit" /></td>
        </tr>
        <tr>
            <td>Genero</td>
            <td><input type="text" id="genres-edit" /></td>
        </tr>
        <tr>
            <td>Descrição</td>
            <td><textarea id="description-edit"></textarea></td>
        </tr>
        <tr>
            <td><input type="submit" value="Salvar" /></td>
        </tr>
    </table>
</form>


