@{
    ViewData["Title"] = "Index";
}

<a href="/Desafio/adicionaritem"><button>Adicionar item</button></a>

<h1 id="my-top">Lista de itens</h1>

<div id="spoiler">
    <h3 >Editar</h3>
    <form class="my-form">
        <input type="hidden" id="edit-id">
        <select id="edit-type">
            <option>CD</option>
            <option>DVD</option>
            <option>Livro</option>
        </select>
        <input type="text" id="edit-name" placeholder="Nome">
        <!-- <input type="text" id="edit-state" placeholder="Status"> -->
        <select id="edit-state">
            <option>Disponível</option>
            <option>Emprestado</option>
        </select>
        <input type="text" id="edit-year" placeholder="Ano">
        <input type="text" id="edit-genres" placeholder="Genero">
        <input type="text" id="edit-description" placeholder="Descrição">
        <input type="submit" value="Atualizar">
        <a onclick="closeInput()" aria-label="Close">&#10006;</a>
    </form>
</div>

<div id="spoilerEmprestar">
    <form class="my-form-emprestar">
        <table>
            <input type="hidden" id="emprestar-id">
            <tr>
                <td>Tipo</td>
                <td><input type="text" id="emprestar-type" disabled/></td>
            </tr>
            <tr>
                <td>Nome</td>
                <td><input type="text" id="emprestar-name" disabled/></td>
            </tr>
            <tr>
                <td>Contato</td>
                <td><select id="contatos">
                        <option>Nenhum</option>    
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Emprestar">
                    <a onclick="closeInput()" aria-label="Close">&#10006;</a>
                </td>
            </tr>

            <select id="emprestar-state" hidden>
                <option selected>Disponivel</option>
                <option>Emprestado</option>
            </select>
            <input type="text" id="emprestar-year" placeholder="Ano" hidden disabled>
            <input type="text" id="emprestar-genres" placeholder="Genero" hidden disabled>
            <input type="text" id="emprestar-description" placeholder="Descrição" hidden disabled>
            
        </table>
    </form>
</div>
<br />

<table class="table">
    <tr>
        <th>Tipo</th>
        <th>Nome</th>
        <th>Disponivel</th>
        <th>Emprestado para</th>
        <th>Ano</th>
        <th>Genero</th>
        <th>Descrição</th>
        <th>Emprestar</th>
        <th>Pegar de volta</th>
    </tr>
    <tbody id="items"></tbody>
</table>

